body {
    background-color:#41b3a3;
  }
  
  h1 {
    color: #4c00e6;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h3 {
    color: #4c00e6;
    margin-left: 50px;
  }
  img {
    width: 270px;
    border: 6px solid black;
    box-shadow: 5px 5px 5px red;
  }
  table, th, td {
    border: 1px solid;
    width: 40%;
    background-color: beige;
    border-color: #4c00e6;
  }
  ol {
    margin: 20;
    padding: 10;
  }